.contenedor-lista {
  padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.mensaje-uno{
    font-size: 2rem;
  text-align: center;
  color: black;
  margin:0;
}